<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Attendance :</h1>

    <% for(var i = 0; i < attend.length; ++i) { %>
        <li><%=attend[i]%></li>
    <% } %>
  </body>
</html>
